.image {
    width: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    /* display: block; */
    /* width: 100%; */
    height: auto;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    /* background-color: #04AA6D; */
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


  .dialogbox {
    background-color: rgb(0, 0, 0, 0);
    padding: 0px;
    margin: 0px;
  }